.container {
    width: 400px;
}

.header  {
    color: #FFFFFF;
    background-image: url("background.png");
    background-color: transparent!important;
}



.mural-container {
    margin-left: 100px;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

.msg-container {
    margin-left: 150px;
}

.msg {
    border: 2px solid;
    font-size: 18px;
    width: 300px;
    margin: 8px;
    padding: 2px;
}

.btn-add {
    margin-top: 15px;
    text-align: center;
    margin-left: 35%;
    width: 400px;
}

.btn-show {
    width: 400px;
    text-align: center;
    margin-left: 35%;
}

.btn-submit {
    margin-left: 40%;
    margin-bottom: 10px;
}

#myForm {
    margin-top: 10px;
    margin-left: 35%;
}

#wall-container {
    display: none;
}

.msg-card {
    margin-left: 20%;
    margin-top: 5px;
    text-align: center;
    position: relative;
}

.card-body {
    border: 2px solid;
}

.form-container {
    width: 400px;
    border: 2px solid;
}


