.container {
    width: 400px;
}

h2 {
    margin: 54px;
}

.mural-container {
    margin-left: 150px;
}

ul {
    list-style-type: none;
}

.msg-container {
    margin-left: 100px;
}

.msg {
    border: 2px solid;
    font-size: 18px;
    width: 300px;
    margin: 8px;
    padding: 2px;
}

.btn-add {
    text-align: center;
    margin: 8px 400px;
}

.btn-submit {
    margin: 8px;
}

#myForm {
    margin-left: 11%;
}

#msg {
    border: 2px solid;
    font-size: 18px;
    width: 400px;
    margin: 5px;
    padding: 2px;
}

