.header  {
    margin: 0;
    color: #FFFFFF;
    background-image: url("background.png");
    background-color: transparent!important;
}


h2 {
    text-align: center;
}


.msg-container {
    max-width: 1000px;
    display: flex;
    position: relative;
}

.msg {
    border: 2px solid;
    font-size: 18px;
    width: 300px;
    margin: 8px;
    padding: 2px;
}

.btn-opts {
    width: 400px;
    margin-top: 15px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.btn-show {
    width: 400px;
    margin-top: 0px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btn-submit {
    margin-left: 40%;
    margin-bottom: 10px;
}

.msg-card {
    align-self: center;
    margin-top: 5px;
    text-align: center;
    position: relative;
}

.card-body {
    min-width: 300px;
    min-height: 200px;
    max-height: 500px;
    border: 2px solid;
    position: relative;
}

.form-container {
    width: 400px;
    border: 2px solid;
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.footer {
    margin-top: 200px;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.arrange-vert {
    display: block;
}

#wall {
    margin: 5px auto;
    position: relative;
    flex-direction: row;
    display: none;
}

#optsForm {
    display: none;
}


